$bg-color: #fdf79a;
$font-color: #13242c;
$ground-color: #fbc67c;
$body-color: #f05842;
$beard-color: #0b313e;
$skin-color: #f7be9b;
$dark-skin-color: #c97a6b;
$eye-color: #0b313e;
$nose-color: #ec626d;
$mouth-color: #9d193e;
$tongue-color: #ee3364;
$teeth-color: #fefefe;
$branch-color: #812818;
$branch-hole-color: #561001;
$green-leaf-color: #8ec43e;
$dark-green-leaf-color: #36b647;
$rock-color: #a1c7dc;
$dark-rock-color:#679bb3;
